<h4><%= link_to 'Dog Parks Index', '/dog_parks' %></h4>
<h4><%= link_to 'Dogs Index', '/dogs' %></h4>
<h1> <%= @dog_park.name %> </h1>
<h4><%= link_to 'Create Dog',  "/dog_parks/#{@dog_park.id}/dogs/new"%></h4>
<h4><%= link_to 'Sort Alphabetically', "/dog_parks/#{@dog_park.id}/dogs?alpha=true" %></h4>

<%= form_with url:"/dog_parks/#{@dog_park.id}/dogs", method: :get, local: true do |form| %>
  <%= form.label :age %>
  <%= form.text_field :age  %>
  <%= form.hidden_field :dog_park_id, value: @dog_park.id %>
  <%= form.submit "Only return dogs older than this age" %>
<% end %>

<% @dogs.each do |dog| %>
  <h3><%= dog.name %></h3>
  <p>Dog park id: <%= dog.dog_park_id %></p>
  <p>Plays fetch: <%= dog.plays_fetch %></p>
  <p>Age: <%= dog.age %></p>
  <p>Breed: <%= dog.breed %></p>
  <p>Created at: <%= dog.created_at %></p>
  <p>Updated at: <%= dog.updated_at %></p>
  <br>
<% end %>
