<h4><%= link_to 'Dog Parks Index', '/dog_parks' %></h4>
<h4><%= link_to 'Dogs Index', '/dogs' %></h4>
<h1> Dogs </h1>

<% @dogs.each do |dog| %>
  <h3><%= dog.name %></h3>
  <p>Dog park id: <%= dog.dog_park_id %></p>
  <p>Plays fetch: <%= dog.plays_fetch %></p>
  <p>Age: <%= dog.age %></p>
  <p>Breed: <%= dog.breed %></p>
  <p>Created at: <%= dog.created_at %></p>
  <p>Updated at: <%= dog.updated_at %></p>
  <br>
<% end %>
