<h1><%= @dog_park.name %></h1>
<p>Capacity: <%= @dog_park.capacity %></p>
<p>Off Leash Park: <%= @dog_park.off_leash %></p>
<p>Food for sale: <%= @dog_park.food %></p>
<p>Created at: <%= @dog_park.created_at %></p>
<p>Updated at: <%= @dog_park.updated_at %></p>
<p>Dog count: <%= @dog_park.dog_count %></p>
