<h4><%= link_to 'Dog Parks Index', '/dog_parks' %></h4>
<h4><%= link_to 'Dogs Index', '/dogs' %></h4>
<h1><%= @dog_park.name %></h1>
<p>Capacity: <%= @dog_park.capacity %></p>
<p>Off Leash Park: <%= @dog_park.off_leash %></p>
<p>Food for sale: <%= @dog_park.food %></p>
<p>Created at: <%= @dog_park.created_at %></p>
<p>Updated at: <%= @dog_park.updated_at %></p>
<p>Dog count: <%= @dog_park.dog_count %></p>
<p><%= link_to "Dogs in #{@dog_park.name}", "/dog_parks/#{@dog_park.id}/dogs" %></p>
