<h1>Cats</h1>
<% @cats.each do |cat| %>
  <h3><%= cat.name %></h3>
  <p>Friendly: <%= cat.friendly %></p>
  <p>Age: <%= cat.age %></p>
  <p>Color: <%= cat.color %></p>
  <p>Cat cafe id: <%= cat.cat_cafe_id %></p>
<% end %>
