<h4><%= link_to "Cat Cafes Index", "/cat_cafes"</h4>
<h4><%= link_to "Cats Index", "/cats" %></h4>
<h1>Cats</h1>
<% @cats.each do |cat| %>
  <h3>My Name: <%= cat.name %></h3>
  <p>Am I Friendly?: <%= cat.friendly %></p>
  <p>My Age: <%= cat.age %></p>
  <p>My Color: <%= cat.color %></p>
  <p>My Cat Cafe ID: <%= cat.cat_cafe_id %></p>
  <br>
<% end %>
